StepIndicator/StepIndicator.xcodeproj/project.xcworkspace/xcuserdata/yunchen.xcuserdatad/UserInterfaceState.xcuserstate
StepIndicator/StepIndicator.xcodeproj/xcuserdata/yunchen.xcuserdatad/xcschemes/StepIndicator.xcscheme
StepIndicator/StepIndicator.xcodeproj/xcuserdata/yunchen.xcuserdatad/xcschemes/xcschememanagement.plist
